/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/WebProject.iml
/.idea/workspace.xml
/.vscode/launch.json
/.vscode/settings.json
/frontend/.gradle/
/build
/backend/build/
/.gradle/
/frontend/build/
/frontend/dist/
/.idea/vcs.xml
/.idea/modules/
/.idea/compiler.xml
